.microbox {
  background: rgba(0,0,0,0.8);
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
}
.microbox.visible {
  display: block;
}
.microbox .caption {
  background: rgba(0,0,0,0.5);
  color: #ddd;
  padding: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.microbox .caption.active [microbox-trigger-caption] {
  border: 2px solid rgba(255,255,255,0.8);
  color: #fff;
  cursor: default;
  cursor: pointer;
}
.microbox .caption.hide {
  display: none;
}
.microbox .microbox-count {
  bottom: 10px;
  color: rgba(255,255,255,0.3);
  font-size: 24px;
  left: 10px;
  position: absolute;
}
.microbox img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  bottom: 0;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 0 3px rgba(0,0,0,0.2);
  -o-box-shadow: 0 0 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  cursor: zoom-in;
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.microbox img.visible {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}
.microbox .inner {
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  -ms-box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  -o-box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  cursor: default;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
}
[microbox-trigger-caption] {
  font-family: "Times New Roman";
  font-style: italic;
  right: 10px;
  top: -58px;
}
.microbox-button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-border-radius: 46px;
  -moz-border-radius: 46px;
  -ms-border-radius: 46px;
  -o-border-radius: 46px;
  border-radius: 46px;
  -webkit-box-shadow: inset 0 2px 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 2px 2px 2px rgba(0,0,0,0.2);
  -ms-box-shadow: inset 0 2px 2px 2px rgba(0,0,0,0.2);
  -o-box-shadow: inset 0 2px 2px 2px rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 2px 2px rgba(0,0,0,0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  color: #ccc;
  cursor: pointer;
  display: block;
  font-size: 36px;
  background-image: -webkit-linear-gradient(-90deg, rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background-image: -moz-linear-gradient(-90deg, rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background-image: -ms-linear-gradient(-90deg, rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background-image: -o-linear-gradient(-90deg, rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  height: 46px;
  line-height: 46px;
  position: absolute;
  text-align: center;
  -webkit-transition: background 0.2s linear, color 0.2s linear;
  -moz-transition: background 0.2s linear, color 0.2s linear;
  -ms-transition: background 0.2s linear, color 0.2s linear;
  -o-transition: background 0.2s linear, color 0.2s linear;
  transition: background 0.2s linear, color 0.2s linear;
  width: 46px;
  z-index: 100;
}
.microbox-button:hover {
  color: #eee;
  background-image: -webkit-linear-gradient(-90deg, rgba(0,0,0,0.2), rgba(0,0,0,0.3));
  background-image: -moz-linear-gradient(-90deg, rgba(0,0,0,0.2), rgba(0,0,0,0.3));
  background-image: -ms-linear-gradient(-90deg, rgba(0,0,0,0.2), rgba(0,0,0,0.3));
  background-image: -o-linear-gradient(-90deg, rgba(0,0,0,0.2), rgba(0,0,0,0.3));
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.2), rgba(0,0,0,0.3));
}
.microbox-button:active {
  background-image: -webkit-linear-gradient(-90deg, rgba(0,0,0,0.3), rgba(0,0,0,0.4));
  background-image: -moz-linear-gradient(-90deg, rgba(0,0,0,0.3), rgba(0,0,0,0.4));
  background-image: -ms-linear-gradient(-90deg, rgba(0,0,0,0.3), rgba(0,0,0,0.4));
  background-image: -o-linear-gradient(-90deg, rgba(0,0,0,0.3), rgba(0,0,0,0.4));
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.3), rgba(0,0,0,0.4));
}
.microbox-close {
  line-height: 40px;
  right: 10px;
  top: 10px;
}
.microbox-pager {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  bottom: 10px;
  left: 10px;
  position: absolute;
  -webkit-transition: bottom 0.2s linear;
  -moz-transition: bottom 0.2s linear;
  -ms-transition: bottom 0.2s linear;
  -o-transition: bottom 0.2s linear;
  transition: bottom 0.2s linear;
}
.microbox-pager li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-border-radius: 46px;
  -moz-border-radius: 46px;
  -ms-border-radius: 46px;
  -o-border-radius: 46px;
  border-radius: 46px;
  -webkit-box-shadow: inset 0 2px 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 2px 2px 2px rgba(0,0,0,0.2);
  -ms-box-shadow: inset 0 2px 2px 2px rgba(0,0,0,0.2);
  -o-box-shadow: inset 0 2px 2px 2px rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 2px 2px rgba(0,0,0,0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  color: #ccc;
  cursor: pointer;
  display: block;
  font-size: 36px;
  background-image: -webkit-linear-gradient(-90deg, rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background-image: -moz-linear-gradient(-90deg, rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background-image: -ms-linear-gradient(-90deg, rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background-image: -o-linear-gradient(-90deg, rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  height: 46px;
  line-height: 46px;
  position: absolute;
  text-align: center;
  -webkit-transition: background 0.2s linear, color 0.2s linear;
  -moz-transition: background 0.2s linear, color 0.2s linear;
  -ms-transition: background 0.2s linear, color 0.2s linear;
  -o-transition: background 0.2s linear, color 0.2s linear;
  transition: background 0.2s linear, color 0.2s linear;
  width: 46px;
  z-index: 100;
  display: inline-block;
  list-style: none;
  margin-right: 2px;
  position: relative;
}
.microbox-pager li:hover {
  color: #eee;
  background-image: -webkit-linear-gradient(-90deg, rgba(0,0,0,0.2), rgba(0,0,0,0.3));
  background-image: -moz-linear-gradient(-90deg, rgba(0,0,0,0.2), rgba(0,0,0,0.3));
  background-image: -ms-linear-gradient(-90deg, rgba(0,0,0,0.2), rgba(0,0,0,0.3));
  background-image: -o-linear-gradient(-90deg, rgba(0,0,0,0.2), rgba(0,0,0,0.3));
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.2), rgba(0,0,0,0.3));
}
.microbox-pager li:active {
  background-image: -webkit-linear-gradient(-90deg, rgba(0,0,0,0.3), rgba(0,0,0,0.4));
  background-image: -moz-linear-gradient(-90deg, rgba(0,0,0,0.3), rgba(0,0,0,0.4));
  background-image: -ms-linear-gradient(-90deg, rgba(0,0,0,0.3), rgba(0,0,0,0.4));
  background-image: -o-linear-gradient(-90deg, rgba(0,0,0,0.3), rgba(0,0,0,0.4));
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.3), rgba(0,0,0,0.4));
}
.microbox-pager li.active {
  border: 2px solid rgba(255,255,255,0.8);
  color: #fff;
  cursor: default;
}
.microbox-pager .microbox-counts {
  padding: 0 10px;
  width: auto;
}
.microbox-pager .microbox-counts,
.microbox-pager .microbox-counts:active,
.microbox-pager .microbox-counts:hover {
  background: 0;
  -webkit-box-shadow: 0 0;
  -moz-box-shadow: 0 0;
  -ms-box-shadow: 0 0;
  -o-box-shadow: 0 0;
  box-shadow: 0 0;
  color: rgba(255,255,255,0.2);
  cursor: default;
}
[microbox-trigger-next].disabled,
[microbox-trigger-prev].disabled,
[microbox-trigger-next].disabled:active,
[microbox-trigger-prev].disabled:active,
[microbox-trigger-next].disabled:hover,
[microbox-trigger-prev].disabled:hover {
  background: 0;
  -webkit-box-shadow: 0 0;
  -moz-box-shadow: 0 0;
  -ms-box-shadow: 0 0;
  -o-box-shadow: 0 0;
  box-shadow: 0 0;
  color: rgba(255,255,255,0.2);
  cursor: default;
}
[microbox-trigger-next].disabled:after,
[microbox-trigger-prev].disabled:after {
  border-bottom: 2px solid rgba(255,255,255,0.2);
  content: "";
  left: 10px;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
[microbox-trigger-prev] {
  margin-left: 0;
  margin-right: -2px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .microbox-counts {
    display: none !important;
  }
  .caption .microbox-button {
    right: 0;
  }
  .microbox-close {
    right: 0;
    top: 0;
  }
  .microbox-pager {
    bottom: 0;
    left: 0;
  }
  [microbox-trigger-next],
  [microbox-trigger-prev] {
    line-height: 41px !important;
  }
}
