@mixin prefix($prop, $params) {
	-webkit-#{$prop}: $params;
	   -moz-#{$prop}: $params;
		-ms-#{$prop}: $params;
		 -o-#{$prop}: $params;
			#{$prop}: $params;
}

@mixin border-radius($params: 5px) {
	@include prefix(border-radius, $params);
}

@mixin box-shadow($params) {
	@include prefix(box-shadow, $params);
}

@mixin box-shadow2($param1, $param2) {
	-moz-box-shadow: $param1, $param2;
	-webkit-box-shadow: $param1, $param2;
	box-shadow: $param1, $param2;
}

@mixin gradient($from, $to, $angle:-90deg) {
	background-color: mix($from, $to);
	@include overlayGradient($from, $to, $angle);
}

@mixin overlayGradient($from, $to, $angle:-90deg) {
	background-image:        -webkit-gradient(linear, $angle, $from, $to);
	background-image: -webkit-linear-gradient($angle, $from, $to);
	background-image:    -moz-linear-gradient($angle, $from, $to);
	background-image:     -ms-linear-gradient($angle, $from, $to);
	background-image:      -o-linear-gradient($angle, $from, $to);
	background-image:         linear-gradient($angle - 90, $from, $to);
}

@mixin ellipsis {
	@include nowrap;
}

@mixin filter($params) {
	@include prefix(filter, $params);
}

@mixin mask-image($image) {
	$img: url($image);
	@include prefix(mask-image, $img);
}

@mixin noselect {
	@include prefix(user-select, none);
	-webkit-touch-callout: none;
}

@mixin nowrap {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin select {
	-webkit-touch-callout: none;
	-webkit-user-select: text;
	 -khtml-user-select: all;
	   -moz-user-select: all;
	    -ms-user-select: text;
	        user-select: all;
}

@mixin opacity($opacity) {
	@include prefix(opacity, $opacity);
}

@mixin text-shadow($params) {
	text-shadow: $params;
}

@mixin transform($params) {
	@include prefix(transform, $params);
}

@mixin transition($props: all, $duration: .1s, $function: linear) {
	@include prefix(transition, $duration $function $props);
}