// imports

@import "mixins";

// reset

* { border:0;margin:0;padding:0 }

// styles

body {
	background: #aaa;
	font: 14px Helvetica, Arial, sans-serif;
	padding: 20px;
}

li {
	display: inline;
	list-style: none;
	margin: 0 -3px 0 0;

	a {
		background: #999;
		display: inline-block;
		padding: 10px;

		&:hover {
			background: #888;
		}
		img {
			display: block;
			width: 200px;
		}
	}
}

.microbox {

	$border: 0;
	$shade: rgba(0,0,0,.8);
	$offset: 23px;

	background: $shade;
	display: none;
	position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
	text-align: center;

	&.visible {
		display: block;
	}

	.caption {
		@include transition;
		background: rgba(0,0,0,.5);
		color: #ddd;
		padding: 20px;
		position: absolute; // show background
			left: 0;
			right: 0;
			top: 100%;
	}

	img {
		@include box-shadow(0 0 3px rgba(0, 0, 0, 0.2));
		@include transition;
		cursor: zoom-in;
		display: none;
		image-rendering: optimizeQuality;
		-ms-interpolation-mode: bicubic;
		margin-bottom: -3px;
		max-height: 100%;
		max-width: 100%;

		&.cur {
			display: inline-block;
		}
	}

	.inner {
		@include box-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
		cursor: default;
		display: inline-block;
		position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
		text-align: center;
	}

	.microbox-caption-trigger {
		@include border-radius(30px);
		@include box-shadow(inset 0 2px 2px 2px rgba(0,0,0,.2));
		@include gradient( rgba(0,0,0,.2), rgba(0,0,0,.4) );
		@include noselect;
		@include transition;
		color: #ccc;
		cursor: pointer;
		display: block;
		font-family: "Times New Roman";
		font-size: 36px;
		font-style: italic;
		padding: 4px 20px;
		position: absolute;
			right: 10px;
			top: -58px;
		z-index: 100;

		&:hover {
			@include gradient( rgba(0,0,0,.2), rgba(0,0,0,.3) );
			color: #ddd;
		}

		&:active {
			@include gradient( rgba(0,0,0,.3), rgba(0,0,0,.4) );
		}
	}
	
}