// imports

@import "mixins";

// reset

* { border:0;margin:0;padding:0 }

// styles

body {
	background: #aaa;
	font: 14px Helvetica, Arial, sans-serif;
	padding: 20px;
}

li {
	display: inline;
	list-style: none;
	margin: 0 -3px 0 0;

	a {
		background: #999;
		display: inline-block;
		padding: 10px;

		&:hover {
			background: #888;
		}
		img {
			display: block;
		}
	}
}

.microbox {

	$offset: 23px;

	@include box-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
	@include transition;
	background: rgba(0,0,0,.7);
	display: none;
	max-height: 100%;
	overflow: auto;
	padding: 10px;
	position: fixed;
		bottom: $offset;
		left: $offset;
		right: $offset;
		top: $offset;

	&.microbox-show {
		display: block;
	}

	img {
		@include box-shadow(0 0 3px rgba(0, 0, 0, 0.2));
		@include transition;
		cursor: zoom-in;
		display: none;
		height: 100%;
		image-rendering: optimizeQuality;
		-ms-interpolation-mode: bicubic;
		margin: 0 auto;
		max-width: 100%;

		&.cur {
			display: block;
		}
		&.abs {
			display: block;
			position: absolute;
				left: 0;
				top: 0;

			&.new { z-index: 1 }
			&.old { z-index: 2 }
		}
	}

	.inner {
		overflow: hidden;
		position: relative;
		width: 100%;
	}

	.microbox-pager {

		$pager: #555;
		$pager-hover: darken($pager, 5%);
		$pager-active: darken($pager-hover, 8%);

		@include border-radius;
		@include box-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
		@include transition;
		border-collapse: collapse;
		position: fixed;
			bottom: 6px;
			left: 50px;
		z-index: 3;

		td {
			@include gradient($pager, darken($pager, 12%));
			@include text-shadow(1px 1px 0 rgba(0,0,0,.2));
			color: #ddd;
			cursor: pointer;
			height: 38px;
			text-align: center;
			vertical-align: middle;
			width: 40px;

			&:hover {
				@include gradient($pager-hover, darken($pager-hover, 12%));
				color: #fff;
				text-decoration: underline;
			}
			&:active {
				@include gradient($pager-active, darken($pager-hover, 12%));
			}

			&.cur,
			&.cur:hover {
				@include gradient(lighten($pager-active, 4%), darken($pager-active, 5%));
				color: #eee;
				font-size: 18px;
				font-weight: bold;
				text-decoration: none;
			}

			&:first-of-type {
				@include border-radius(5px 0 0 5px);
			}

			&:last-of-type {
				@include border-radius(0 5px 5px 0);
			}

			// opera 9.5+ only
			x:-o-prefocus,
			&.cur,
			&.cur:hover {
				padding: 8px 15px 7px;
			}
		}

		.microbox-pager-label {
			border-right: 1px solid rgba(0,0,0,.2);
			color: #999;
			padding: 0 15px;
		}

		.microbox-pager-label {
			@include border-radius(5px 0 0 5px);
			@include text-shadow(-1px -1px 0 rgba(0,0,0,.15));
			background: rgba(0,0,0,.75);
			color: #999;
			font-size: 12px;
			font-weight: bold;
		}

	}

	.scroller {
		@include box-shadow(0 0 2px rgba(0,0,0,.2));
		background-color: rgba(0,0,0,.5);
		cursor: default;
		display: block;
		height: 100px;
		position: absolute;
			left: 0;
			top: 0;
		width: 30px;

		&:hover  { background-color: rgba(0,0,0,.6) }
		&.active { background-color: rgba(0,0,0,.8) }
	}
}