// imports

@import "mixins";

// reset

* { border:0;margin:0;padding:0 }

// styles

body {
	background: #aaa;
	font: 14px Helvetica, Arial, sans-serif;
	padding: 20px;
}

li {
	display: inline;
	list-style: none;
	margin: 0 -3px 0 0;

	a {
		background: #999;
		display: inline-block;
		padding: 10px;

		&:hover {
			background: #888;
		}
		img {
			display: block;
			width: 200px;
		}
	}
}

.microbox {

	$border: 0;
	$shade: rgba(0,0,0,.8);
	$offset: 23px;

	background: $shade;
	cursor: pointer;
	display: none;
	padding: $offset $offset ($offset + 2*$border);
	position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
	text-align: center;

	&.microbox-show {
		display: block;
	}

	figcaption {
		background: rgba(0,0,0,.5);
		color: #ddd;
		padding: 20px;
		position: relative;
			top: -55px;
	}

	img {
		@include box-shadow(0 0 3px rgba(0, 0, 0, 0.2));
		@include transition;
		cursor: zoom-in;
		display: none;
		image-rendering: optimizeQuality;
		-ms-interpolation-mode: bicubic;
		margin-bottom: -3px;
		max-height: 100%;
		max-width: 100%;

		&:after {
			background: rgba(0,0,0,.5);
			border-radius: 10px;
			color: #bbb;
			content: "Click anywhere to close";
			padding: 20px 40px;
			position: absolute;
				right: 0;
				top: 50%;
		}

		&.cur {
			display: inline-block;
		}
	}

	.inner {
		@include box-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
		@include transition;
		//border: $border solid rgba(255,255,255,.2);
		cursor: default;
		display: inline-block;
		max-height: 100%;
		text-align: center;

		&.has-caption {
			margin-bottom: 100px;
		}
	}
	
}