// imports

@import "mixins"

// reset

*
	border 0
	margin 0
	padding 0

// styles

body
	background #eee
	font 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

h1
	background #ccc
	box-shadow inset 0 0 5px rgba(0,0,0,.1)
	color #999
	line-height 100px
	margin-bottom 20px
	text-align center

h2
	font-weight normal
	padding 10px 10px 0

.credit
	display block
	padding 0 10px 10px

li
	display inline
	list-style none
	margin 0 -3px 0 0

	a
		background #999
		display inline-block
		margin 10px 0 0 10px
		
		img
			display block
			width 200px