// imports

@import "mixins"

// vars

$border = 0
$button = 46px
$button-margin = 10px
$shade = rgba(0,0,0,.8)
$pager = #555
$pager-hover = darken($pager, 5%)
$pager-active = darken($pager-hover, 8%)

// microbox

.microbox
	background $shade
	display none
	position fixed
	bottom 0
	left 0
	right 0
	top 0
	text-align center

	&.visible
		display block

	.caption
		background rgba(0,0,0,.5)
		color #ddd
		padding 20px
		position absolute // show background
		left 0
		right 0
		top 100%
		transition all .2s linear

		&.active [microbox-trigger-caption]
			button-active()
			cursor pointer

		&.hide
			display none

	.microbox-count
		bottom $button-margin
		color rgba(255,255,255,.3)
		font-size 24px
		left $button-margin
		position absolute

	img
		noselect()
		bottom 0
		box-shadow 0 0 3px rgba(0, 0, 0, 0.2)
		cursor zoom-in
		image-rendering optimizeQuality
		-ms-interpolation-mode bicubic
		left 0
		margin auto
		max-height 100%
		max-width 100%
		opacity 0
		position absolute
		right 0
		top 0
		transition all .2s linear

		&.visible
			opacity 1

	.inner
		box-shadow 2px 2px 3px rgba(0, 0, 0, 0.2)
		cursor default
		display inline-block
		position absolute
		bottom 0
		left 0
		right 0
		top 0
		text-align center

[microbox-trigger-caption]
	font-family "Times New Roman"
	font-style italic
	right $button-margin
	top -58px

// buttons
	
.microbox-button
	button()

.microbox-close
	line-height $button - 6
	right $button-margin
	top $button-margin

// pager

.microbox-pager
	noselect()
	bottom $button-margin
	left $button-margin
	position absolute
	transition bottom .2s linear

	li
		button()
		display inline-block
		list-style none
		margin-right 2px
		position relative

		&.active
			button-active()

	.microbox-counts
		button-disabled()
		padding 0 $button-margin
		width auto

[microbox-trigger-next]
[microbox-trigger-prev]

	&.disabled
		button-disabled()

		&:after
			border-bottom 2px solid rgba(255,255,255,.2)
			content ""
			left $button-margin
			position absolute
			right $button-margin
			top 50%
			transform rotate(-45deg)

[microbox-trigger-prev]
	margin-left 0
	margin-right -2px
	transform rotate(180deg)