// imports

@import "mixins"

// vars

$border = 0
$button = 46px
$button-margin = 10px
$shade = rgba(0,0,0,.8)
$pager = #555
$pager-hover = darken($pager, 5%)
$pager-active = darken($pager-hover, 8%)

// microbox

.microbox
	background $shade
	display none
	position fixed
	bottom 0
	left 0
	right 0
	top 0
	text-align center

	&.visible
		display block

	.caption
		background rgba(0,0,0,.5)
		color #ddd
		padding 20px
		position absolute // show background
		left 0
		right 0
		top 100%
		transition all .2s linear

	.count
		bottom $button-margin
		color rgba(255,255,255,.3)
		font-size 24px
		left $button-margin
		position absolute

	img
		box-shadow 0 0 3px rgba(0, 0, 0, 0.2)
		cursor zoom-in
		display none
		image-rendering optimizeQuality
		-ms-interpolation-mode bicubic
		margin-bottom -3px
		max-height 100%
		max-width 100%
		transition all .2s linear

		&.visible
			display inline-block

	.inner
		box-shadow 2px 2px 3px rgba(0, 0, 0, 0.2)
		cursor default
		display inline-block
		position absolute
		bottom 0
		left 0
		right 0
		top 0
		text-align center

	.caption-trigger
		font-family "Times New Roman"
		font-style italic
		right $button-margin
		top -58px

// buttons
	
.microbox-button
.microbox-pager li
	border-radius $button
	box-shadow inset 0 2px 2px 2px rgba(0,0,0,.2)
	color #ccc
	cursor pointer
	display block
	font-size ($button - 10)
	gradient rgba(0,0,0,.2), rgba(0,0,0,.4)
	height $button
	line-height $button
	noselect
	position absolute
	text-align center
	transition all .2s linear
	width $button
	z-index 100

	&:hover
		color #eee
		gradient rgba(0,0,0,.2), rgba(0,0,0,.3)
	
	&:active
		gradient rgba(0,0,0,.3), rgba(0,0,0,.4)

// pager

.microbox-pager
	bottom $button-margin
	left $button-margin
	position absolute

	li
		display inline-block
		list-style none
		margin-right 2px
		position relative

	.counts
	.counts:active
	.counts:hover
		background 0
		box-shadow 0 0
		color rgba(255,255,255,.3)
		cursor default
		padding 0 $button-margin
		width auto

	[microbox-trigger="prev"]
		margin-left 0
		margin-right -2px
		transform rotate(180deg)