/* line 15, ../stylesheets-sass/styles.scss */
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
}

/* line 19, ../stylesheets-sass/styles.scss */
body {
  background: #aaa;
  font: 14px Helvetica, Arial, sans-serif;
  padding: 20px;
}

/* line 25, ../stylesheets-sass/styles.scss */
li {
  display: inline;
  list-style: none;
  margin: 0 -3px 0 0;
}
/* line 30, ../stylesheets-sass/styles.scss */
li a {
  background: #999;
  display: inline-block;
  padding: 10px;
}
/* line 35, ../stylesheets-sass/styles.scss */
li a:hover {
  background: #888;
}
/* line 38, ../stylesheets-sass/styles.scss */
li a img {
  display: block;
}

/* line 44, ../stylesheets-sass/styles.scss */
.microBox {
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.7);
  overflow-y: auto;
  padding: 10px;
  position: fixed;
  left: 50px;
  top: 50px;
}
/* line 53, ../stylesheets-sass/styles.scss */
.microBox img {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  display: none;
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic;
  margin: 0 auto 10px;
}
/* line 60, ../stylesheets-sass/styles.scss */
.microBox img.cur {
  display: block;
}
/* line 63, ../stylesheets-sass/styles.scss */
.microBox img.abs {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 69, ../stylesheets-sass/styles.scss */
.microBox img.abs.new {
  z-index: 1;
}
/* line 70, ../stylesheets-sass/styles.scss */
.microBox img.abs.old {
  z-index: 2;
}
/* line 74, ../stylesheets-sass/styles.scss */
.microBox .inner {
  overflow: hidden;
  position: relative;
  width: 100%;
}
/* line 80, ../stylesheets-sass/styles.scss */
.microBox .pager {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: fixed;
  bottom: 6px;
  left: 50px;
  z-index: 3;
}
/* line 89, ../stylesheets-sass/styles.scss */
.microBox .pager li {
  display: inline-block;
  list-style: none;
  margin: 0;
  vertical-align: bottom;
}
/* line 96, ../stylesheets-sass/styles.scss */
.microBox .pager li.label, .microBox .pager a {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  color: #999;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
}
/* line 104, ../stylesheets-sass/styles.scss */
.microBox .pager li.label {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.75);
  color: #999;
  font-size: 12px;
  font-weight: bold;
  padding: 11px 14px 10px;
}
/* line 118, ../stylesheets-sass/styles.scss */
.microBox .pager a {
  background: #555555;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #363636));
  background: -webkit-linear-gradient(#555555, #363636);
  background: -moz-linear-gradient(#555555, #363636);
  background: -o-linear-gradient(#555555, #363636);
  background: -ms-linear-gradient(#555555, #363636);
  background: linear-gradient(#555555, #363636);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
/* line 123, ../stylesheets-sass/styles.scss */
.microBox .pager a:hover {
  background: #484848;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #484848), color-stop(100%, #2a2a2a));
  background: -webkit-linear-gradient(#484848, #2a2a2a);
  background: -moz-linear-gradient(#484848, #2a2a2a);
  background: -o-linear-gradient(#484848, #2a2a2a);
  background: -ms-linear-gradient(#484848, #2a2a2a);
  background: linear-gradient(#484848, #2a2a2a);
  color: #fff;
  text-decoration: underline;
}
/* line 129, ../stylesheets-sass/styles.scss */
.microBox .pager a:active {
  background: #343434;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #343434), color-stop(100%, #2a2a2a));
  background: -webkit-linear-gradient(#343434, #2a2a2a);
  background: -moz-linear-gradient(#343434, #2a2a2a);
  background: -o-linear-gradient(#343434, #2a2a2a);
  background: -ms-linear-gradient(#343434, #2a2a2a);
  background: linear-gradient(#343434, #2a2a2a);
}
/* line 135, ../stylesheets-sass/styles.scss */
.microBox .pager a.cur, .microBox .pager a.cur:hover {
  background: #343434;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3e3e3e), color-stop(100%, #272727));
  background: -webkit-linear-gradient(#3e3e3e, #272727);
  background: -moz-linear-gradient(#3e3e3e, #272727);
  background: -o-linear-gradient(#3e3e3e, #272727);
  background: -ms-linear-gradient(#3e3e3e, #272727);
  background: linear-gradient(#3e3e3e, #272727);
  color: #eee;
  font-size: 18px;
  font-weight: bold;
  padding: 7px 15px;
  text-decoration: none;
}
/* line 148, ../stylesheets-sass/styles.scss */
.microBox .pager a x:-o-prefocus, .microBox .pager a.cur, .microBox .pager a.cur:hover {
  padding: 8px 15px 7px;
}
/* line 152, ../stylesheets-sass/styles.scss */
.microBox .pager a.last {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  border: 0;
}
/* line 157, ../stylesheets-sass/styles.scss */
.microBox .pager a.first {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
/* line 163, ../stylesheets-sass/styles.scss */
.microBox .scroller {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
  cursor: default;
  display: block;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
}
/* line 174, ../stylesheets-sass/styles.scss */
.microBox .scroller:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
/* line 175, ../stylesheets-sass/styles.scss */
.microBox .scroller.active {
  background-color: rgba(0, 0, 0, 0.8);
}
